 

<center><h2> <body<%=p2_name%> Start guessing the word <%=p1_name%> picked</h2></center>
<center><h3><%=blank%></h3></center>
<br></br>

<center><h2>incorrect guesses left</h2> <%=counter%></center>
<center><h2 class="messages"><%=message%></h2></center>
<%if counter == 9%>
 
<%elsif counter == 8%>
<center><img src= "https://upload.wikimedia.org/wikipedia/commons/8/8b/Hangman-0.png"></center>
<%elsif counter == 7%>
<center><img src= "https://upload.wikimedia.org/wikipedia/commons/3/30/Hangman-1.png"</center>
<%elsif counter == 6%>
<center><img src= "https://upload.wikimedia.org/wikipedia/commons/7/70/Hangman-2.png"</center>
<%elsif counter == 5%>
<center><img src= "https://upload.wikimedia.org/wikipedia/commons/9/97/Hangman-3.png"</center>
<%elsif counter == 4%>
<center><img src= "https://upload.wikimedia.org/wikipedia/commons/2/27/Hangman-4.png"</center>
<%elsif counter == 3%>
<center><img src= "https://upload.wikimedia.org/wikipedia/commons/6/6b/Hangman-5.png"</center>
<%elsif counter == 2%>
<center><img src= "https://upload.wikimedia.org/wikipedia/commons/d/d6/Hangman-6.png" </center>
<%elsif counter == 1%>
<center><img src= "" </center>


	
	
<%end%>
<center><h2 class="meassages2"><%=message2%></h2></center>



<center><h2><%=array%></h2></center>

<form method="post" action="guess">

<center><input type="text" name="letter"></center>
<input type="hidden" name="player1" value="<p1_name%>">
<input type="hidden" name="player2" value="<p2_name>">
<center><input type="submit" value="Enter Guess"/></center>
</form>
